<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mn913a"
    android:versionCode="1"
    android:versionName="1.0.20161122-0516" >

    <permission android:name="android.permission.SET_TIME"
        android:label="@string/app_name"
        android:protectionLevel="signature|system"
      />
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.SET_TIME" />  -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />  
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_48_48"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.example.mn913a.NanoApplication" >
        <activity
            android:name=".NanoActivity"
            android:label="@string/app_name"  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </activity>
        <activity android:name="com.example.mn913a.Nano_UpdateFun" android:theme="@style/AppTheme_title" android:screenOrientation="landscape" android:launchMode="singleTask"/>

<!--         <receiver android:name="MN913A_Receiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
        </receiver> -->
        
<!--         <receiver
            android:name=".AutoStart"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="500" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> -->
        
        <activity android:name="com.example.mn913a.LogFileChooserActivity" android:theme="@style/AppTheme_title" android:screenOrientation="landscape">
<!--              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
            <!-- <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/> -->
        </activity>
        <activity android:name="com.example.mn913a.LogFileDisplayActivity" android:theme="@style/AppTheme_title" android:screenOrientation="landscape" android:launchMode="singleTask"/>
        
        <activity android:name="com.example.mn913a.testlist" android:theme="@style/AppTheme_title" android:screenOrientation="landscape" >
<!--             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity android:name="com.example.mn913a.AnalysisFileChooserActivity" android:theme="@style/MyMaterialTheme" android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.example.mn913a.NormalizationActivity" android:theme="@style/AppTheme_title" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity android:name="com.example.mn913a.testActivity" android:theme="@style/AppTheme_title" android:screenOrientation="landscape" android:launchMode="singleTask" >
        </activity>
        
        <receiver android:name="com.example.mn913a.NanoAppWidgetProvider" android:label="@string/main_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ad1_appwidget_info" />
        </receiver>        
        
    </application>

</manifest>
